apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: cloudnative-pg
  app.kubernetes.io/component: manager
resources:
  - ../configurations/prometheus-operator
  - clusterrole.yaml
  - clusterrole-edit.yaml
  - deployment.yaml
  - lease.yaml
  - monitor.yaml
  - pdb.yaml
  - rbac.yaml
  - role.yaml
  - service.yaml
  - mutatingwebhookconfiguration.yaml
  - validatingwebhookconfiguration.yaml
configMapGenerator:
  - name: manager-config
    options:
      disableNameSuffixHash: true
  - name: default-monitoring
    options:
      disableNameSuffixHash: true
      labels:
        cnpg.io/reload: ""
    files:
      - queries=files/queries.yaml
patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: manager
      spec:
        template:
          spec:
            containers:
              - name: manager
                env:
                  - name: PGBOUNCER_IMAGE_NAME
                    # renovate: datasource=docker
                    value: ghcr.io/cloudnative-pg/pgbouncer:1.25.1@sha256:9def91e8a6ae52547aef714dcb45a9dd9af15a395b70e5e02f40e41bdc6e0f28
                  - name: POSTGRES_IMAGE_NAME
                    # renovate: datasource=docker
                    value: ghcr.io/cloudnative-pg/postgresql:18.1-system-trixie@sha256:26042ab97ea2554e81b189f15d2af2b6509b8f15654ebc80a1f96b551931513b
images:
  - name: ghcr.io/cloudnative-pg/cloudnative-pg
    newTag: 1.28.1@sha256:0edcdaefaa83d68822158cf4370d83d185c54db2b6beb7e0848aca16eafa6344
replacements:
  - source:
      kind: Deployment
      name: manager
      fieldPath: spec.template.spec.containers.[name=manager].image
    targets:
      - select:
          kind: Deployment
          name: manager
        fieldPaths:
          - spec.template.spec.containers.[name=manager].env.[name=OPERATOR_IMAGE_NAME].value
